/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

/ {

#define BASE   0
#define GAME      1
#define SETTINGS  2

//=====================================================================================================
//  behaviors {
        ls: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&tog>;
        };
    };
//=====================================================================================================
//  combos {};
//=====================================================================================================
    macros {
    //This is just an example macro for testing purposes. Define the name and purpose later
        zmk: zed_em_kay {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp Z &kp M &kp K>
                , <&macro_release &kp LSHFT>
                ;
        };
    };
//=====================================================================================================
    keymap {
        compatible = "zmk,keymap";

        default_layer {
    // ---------------------------------------------------------------------------------------------------
            bindings = <
//              + --------- + --------- + --------- + --------- + --------- +
//                  F1            F2         F3           F4         F5         ENCODER
                    &kp F1      &kp F2     &kp F3       &kp F4     &kp F5      &kp C_MUTE
//              + --------- + --------- + --------- + --------- + --------- +
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//                   TAB          Q           W           E           R           T
                   &kp TAB      &kp Q       &kp W       &kp E       &kp R       &ls T SETTINGS
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//                 GRAVE          A           S           D           F           G
                  &kp GRAVE     &kp A       &kp S       &kp D       &kp F        &ls G GAME
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//                  SHIFT         Z          X            C           V           B
                  &kp LSHFT     &kp Z       &kp X       &kp C       &kp V        &ls B BASE
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//      + --------- + --------- + --------- +
//      SPACE         ENTER       COMMAND
        &kp SPACE     &kp RET     &kp LGUI
//      + --------- + --------- + --------- +
            >;
            
//            sensor-bindings =
//                <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    // ---------------------------------------------------------------------------------------------------
        
        game_layer {
    // ---------------------------------------------------------------------------------------------------
            bindings = <
//              + --------- + --------- + --------- + --------- + --------- +
//                   F13         F14         F15         F16         F17         ENCODER
                    &kp F13    &kp F14     &kp F15     &kp F16     &kp F17      &kp C_MUTE
//              + --------- + --------- + --------- + --------- + --------- +
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//                   TAB          Q          UP           E           R
                   &kp TAB      &kp Q       &kp W       &kp E       &kp R        &trans
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//                 GRAVE         LEFT        DOWN       RIGHT           F
                  &kp GRAVE     &kp A       &kp S       &kp D       &kp F        &trans
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//                  SHIFT         Z          X            C           V
                  &kp LSHFT     &kp Z       &kp X       &kp C       &kp V        &trans
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//      + --------- + --------- + --------- +
//      SPACE         ENTER       COMMAND
        &kp SPACE     &kp RET     &kp LGUI
//      + --------- + --------- + --------- +
            >;
            
//            sensor-bindings =
//                <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    // ---------------------------------------------------------------------------------------------------
        
        settings_layer {
    // ---------------------------------------------------------------------------------------------------
            bindings = <
//              + --------- + --------- + --------- + --------- + --------- +
//                  RESET        BOOT                                           ENCODER
                  &sys_reset  &bootloader   &trans      &trans      &trans      &kp C_MUTE
//              + --------- + --------- + --------- + --------- + --------- +
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//                  BOOT
                 &bootloader    &trans      &trans      &trans      &trans       &trans
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//             TOGGLE BATTERY
              &ext_power EP_TOG &trans      &trans      &trans     &trans       &trans
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//
                    &trans     &trans      &trans       &trans      &trans      &trans
//              + --------- + --------- + --------- + --------- + --------- + ---------- +
//      + --------- + --------- + --------- +
//
            &trans     &trans      &trans
//      + --------- + --------- + --------- +
            >;
            
//            sensor-bindings =
//                <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
 //=====================================================================================================
};
