#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt/h>
#include <dt-bindings/zmk/ext_power.h>


/ {
    behaviors {
        rgb_encoder: rgb_encoder {
            compatible = 'zmk,behavior-sensor-rotate';
            #sensor-binding-cells = <0>;
        // this 'binding' determines the result of the sensor up and down reading
        //Multiple behaviors will need to be defined just like this
        //and then referenced in the 'keymap' functions below
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
        // This area is a readable layout for this specific key layer. Below it are the 'bindings' for each key
        // ---------------------------------------------------------------------------------------------------
            bindings = <
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     EN_#    |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|

//       _____________   _____________   _____________
//      |     ###     | |     ###     | |     ###     |
            &kp KP_N7       &kp KP_N7       &kp KP_N7
//      |_____________| |_____________| |_____________|

            >;
            // This encoder binding is defined above in the 'behaviors' definition
            sensor-bindings = <&rgb_encoder>;
        };
        
        bt_layer {
        // This area is a readable layout for this specific key layer. Below it are the 'bindings' for each key
        // ---------------------------------------------------------------------------------------------------
            bindings = <
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ESC     | |     ###     | |     ###     | |     ###     | |     ###     | |     EN_#    |
                    &trans         &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|

//       _____________   _____________   _____________
//      |     ###     | |     ###     | |     ###     |
            &kp KP_N7       &kp KP_N7       &kp KP_N7
//      |_____________| |_____________| |_____________|

            >;
            // This encoder binding is defined above in the 'behaviors' definition
            sensor-bindings = <&rgb_encoder>;
        };
        
        game_layer {
        // This area is a readable layout for this specific key layer. Below it are the 'bindings' for each key
        // ---------------------------------------------------------------------------------------------------
            bindings = <
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ESC     | |     ###     | |     ###     | |     ###     | |     ###     | |     EN_#    |
                     &trans       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|

//       _____________   _____________   _____________
//      |     ###     | |     ###     | |     ###     |
            &kp KP_N7       &kp KP_N7       &kp KP_N7
//      |_____________| |_____________| |_____________|

            >;
            // This encoder binding is defined above in the 'behaviors' definition
            sensor-bindings = <&rgb_encoder>;
        };
        
        tri_layer {
        // This layer is specifically for controller functions like Bluetooth, bootloader, etc...
        // ---------------------------------------------------------------------------------------------------
            bindings = <
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |             | |   CLR BT    | |     BT_0    | |    BT_1     | |     BT_2    | |    EN_SW    |
                    &trans        &bt BT_CLR     &bt BT_SEL 0     &bt BT_SEL 1    &bt BT_SEL 2    &bootloader
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | | Tog USB/BT  |
                    &trans           &trans          &trans          &trans          &trans       &out OUT_TOG
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &trans           &trans          &trans          &trans          &trans          &trans
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &trans           &trans          &trans          &trans          &trans          &trans
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|

//       _____________   _____________   _____________
//      |     ###     | |     ###     | |     ###     |
            &kp KP_N7       &kp KP_N7       &kp KP_N7
//      |_____________| |_____________| |_____________|

            >;
            // This encoder binding is defined above in the 'behaviors' definition
            sensor-bindings = <&rgb_encoder>;
        };
    };
};
