#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt/h>
#include <dt-bindings/zmk/ext_power.h>


/{
//    behaviors {
//        rgb_encoder: rgb_encoder {
//            compatible = 'zmk,behavior-sensor-rotate';
//            #sensor-binding-cells = <0>;
         //this 'binding' determines the result of the sensor up and down reading
        //Multiple behaviors will need to be defined just like this
        //and then referenced in the 'keymap' functions below
//            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
//        };
//    };
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
        // This area is a readable layout for this specific key layer. Below it are the 'bindings' for each key
        // ---------------------------------------------------------------------------------------------------
            bindings = <
//               _____________   _____________   _____________   _____________   _____________      ______
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |    | EN_# |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7      &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________|    |______|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//       _____________   _____________   _____________
//      |     ###     | |     ###     | |     ###     |
            &kp KP_N7       &kp KP_N7       &kp KP_N7
//      |_____________| |_____________| |_____________|
            >;
            // This encoder binding is defined above in the 'behaviors' definition
            sensor-bindings = <&rgb_encoder>;
        };
        
        bt_layer {
        // This area is a readable layout for this specific key layer. Below it are the 'bindings' for each key
        // ---------------------------------------------------------------------------------------------------
            bindings = <
//               _____________   _____________   _____________   _____________   _____________      ______
//              |     ESC     | |     ###     | |     ###     | |     ###     | |     ###     |    | EN_# |
                    &trans         &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________|    |______|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//               _____________   _____________   _____________   _____________   _____________   _____________
//              |     ###     | |     ###     | |     ###     | |     ###     | |     ###     | |     ###     |
                    &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7       &kp KP_N7
//              |_____________| |_____________| |_____________| |_____________| |_____________| |_____________|
//       _____________   _____________   _____________
//      |     ###     | |     ###     | |     ###     |
            &kp KP_N7       &kp KP_N7       &kp KP_N7
//      |_____________| |_____________| |_____________|
            >;
            // This encoder binding is defined above in the 'behaviors' definition
            // sensor-bindings = <&rgb_encoder>;
        };
    };
};
